.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.question-display, .media-display {
  flex: 1;
  text-align: center;
}

.teepee-button {
  color: #ece5f2;
  font-size: 18px;
  float: right;
  background: #6750a4;
  border-radius: 5px
    /* 6px */
  ;
  font-weight: normal;
  padding-top: 0.5rem
    /* 8px */
  ;
  padding-bottom: 0.5rem
    /* 8px */
  ;
  padding-left: 1rem
    /* 16px */
  ;
  padding-right: 1rem
    /* 16px */
  ;
}
.custom-grid {
  grid-template-columns: 1fr 2fr; /* Adjust these values */
}

.animation{
  animation: rotate-text-up 1.5s ;
}
@keyframes rotate-text-up {
0% {
  transform: translate3d(90px, 0px, 0);
  opacity: 0;
}
80% {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
}

.paragraph{
  color: rgba(255, 255, 255, 0.84);
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 127.273% */
letter-spacing: 0.022px;
}


